.custom-navbar {
    background-color: #27235E;
    width: 100%;
    height: 45px; 
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    color: white; 
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 1000; 
    padding: 0 15px; 
  }
  
  .menu-icon {
    margin-right: 10px; 
    font-size: 24px; 
    cursor: pointer; 
  }
  
  .navbar-logo {
    height: 35px; 
    margin: 0; 
  }
  
  .sidebar {
    position: fixed; 
    top: 45px; 
    left: 0; 
    background-color: #FFFFFF; 
    width: 200px; 
    height: calc(100% - 45px); 
    padding: 15px; 
    z-index: 999; 
    transition: transform 0.3s ease; 
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0; 
  }
  
  .sidebar li {
    color: #27235C; 
    font-weight: 600;
    margin: 15px 0; 
    display: flex; 
    align-items: center; 
  }
  
  .sidebar li svg {
    margin-right: 10px; 
  }
  